# dev
SFTP_HOST=dev.akademiata.pl
SFTP_PORT=22
SFTP_USER=your_sftp_username
SFTP_REMOTE_PATH=wp-content/themes/akademiata
SFTP_USE_PASSWORD=true
SFTP_PASSWORD=your_sftp_password

# prod
SFTP_PROD_HOST=akademiata.pl
SFTP_PROD_PORT=22
SFTP_PROD_USER=your_prod_sftp_username
SFTP_PROD_PASSWORD=your_prod_sftp_password
SFTP_PROD_REMOTE_PATH=wp-content/themes/akademiata
SFTP_PROD_USE_PASSWORD=true

# SKIP_BUILD=true
# DRY_RUN=true
