@use "../abstracts/variables"  as vars;

.accordion_universal_header {

  .title_section {
    font-family: "Nunito Sans", serif;
  }

  .small_title {
    font-weight: 900;
  }

  .accordion_description {
    margin: 2rem 0;
    font-size: 18px;
    line-height: 1.2;

    a {
      color: vars.$primary;
    }

    p {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

.accordion_universal {
  width: 100%;
  margin: 5rem 0 10rem 0;


  .accordion_item {
    &.open {

      .accordion_header {
        &::before {
          background-color: #F5F5F5;
          height: 100%;
          z-index: 0;
        }

      }

      .accordion_content {
        max-height: 100%;
        padding: 10px;
      }

      .accordion_header .accordion_arrow {
        transform: rotate(180deg);
      }

      .accordion_header::after {
        display: none !important;
      }
    }

    .accordion_header {
      position: relative;
      background: #fff;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;


      .accordion_title {
        flex-grow: 1;
        font-weight: 900;
        position: relative;
        z-index: 5;
      }

      .accordion_arrow {
        width: 22px;
        height: 9px;
        transition: transform 0.4s ease;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -70px;
        width: calc(100% + 140px);
        height: 0;
        border-top: 1px solid #707070;
      }


      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: -70px;
        width: calc(100% + 140px);
        height: 0;
        border-bottom: 1px solid #707070;
        display: none;
      }

      &:hover {
        &::before {
          background-color: #F5F5F5;
          height: 100%;
          z-index: 0;
        }
      }
    }

    &:last-child {
      .accordion_header::after {
        display: block;
      }
    }

    .accordion_content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
      will-change: max-height;
      padding: 0 10px;

    }
  }


  .accordion_description {
    margin: 2rem 0;
    font-size: 18px;
    line-height: 1.2;

    p {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  .default_content {
    max-width: 1420px;
    padding: 0 30px;
    margin: 2rem auto;
    font-size: 18px;
    line-height: 1.2;

    a {
      color: vars.$primary;
    }

    ul {
      list-style: none;
      padding: 0;
      width: 100%;

      @media (min-width: 1366px) {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 40px;
        column-gap: 40px;
      }

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 2rem;
        font-size: 18px;
        line-height: 1.3;

        &:before {
          top: 12px;
          width: 10px;
          height: 10px;
          background-color: #f5682c;
          border-radius: 50%;
          transform: translateY(-50%);
          content: "";
          position: absolute;
          left: 0;
        }
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    .accordion_item {
      .accordion_header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;

        .accordion_title {
          margin-bottom: 8px;
        }

        .accordion_arrow {
          align-self: center;
        }

        &::before,
        &::after {
          left: 0;
          width: 100%;
        }
      }

      .accordion_content {
        padding: 0 5px;

      }
    }
  }

  @media (max-width: 768px) {
    .accordion_item {
      .accordion_header {
        padding: 12px 15px;
        flex-direction: row;
        align-items: flex-end;

        .accordion_title {
          font-size: 16px;
          line-height: 1.4;
          margin-bottom: 0;
          padding-right: 20px;
          font-weight: 600;
        }

        .accordion_arrow {
          min-width: 22px;

          img {
            width: 18px;
            height: 7px;
          }
        }
      }

      .accordion_content {
        padding: 0 5px;
      }
    }
  }
}
